.u-section-1 .u-sheet-1 {
  min-height: 962px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 103px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 786px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 122px 0 75px;
}

.u-section-1 .u-text-2 {
  margin: 12px 163px 0 75px;
}

.u-section-1 .u-shape-1 {
  width: 535px;
  height: 490px;
  margin: 50px -306px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 786px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  background-image: none;
  margin-top: 87px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 490px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 72px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 113px;
    margin-left: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 77px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -245px;
  }
} .u-section-2 {
  min-height: 500px;
}